:root {
    --primary-color: #082032;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --text-color: #1C6DD0;
    --showcase-color: #EEF2FF;
    --primary-text-color: #d5d5d5;
    --warning-color: #fec007;
    --grey-color: #7F7C82;
    --jost-font: 'Jost', sans-serif;
    --poppins-font: 'Poppins', sans-serif;
    --rubik-font: 'Rubik', sans-serif;
    --transition: all 0.3s ease-in-out;
}

.font {
    font-family: var(--jost-font);
}

.font-pop {
    font-family: var(--poppins-font);
}

.myBtn {
    font-size: 15px;
    width: 140px;
    height: 50px;
    border: none;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: var(--showcase-color);
    width: 100%;
}

/* Header */
.banner-image {
    background-color: #082032;
}

.navbar-nav {
    margin-left: auto;

}

nav.actv {
    background: #082032 !important;
    z-index: 1;
}

.nav-item {
    padding: 0px 15px;

}

.head {
    border: 1px solid white;
    color: white;
    margin-right: 15px;
}

#home-text {
    color: var(--warning-color) !important;
}

#home-text:hover {
    color: white !important;
}

.nav-link {
    color: white !important;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--warning-color) !important;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

@media(min-width: 1200px) {
    .nav-link {
        /* color: var(--light-color); */
        opacity: 1;
        font-weight: 500;
        position: relative;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--warning-color);
        opacity: 0;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }

    .nav-link:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        /* color: var(--light-color); */
    }

    .nav-link:hover::after {
        opacity: 1;
        width: 100%;
    }

    .landing-bg {
        margin-top: 130px;
    }

}

@media(min-width: 992px) {
    #span-text {
        margin-top: 100px !important;
    }
}

#img-animate {
    position: relative;
    bottom: 75px;
}

/* Media query for image */
@media (max-width: 992px) {
    #img-animate {
        display: none;
    }

    #span-text {
        display: block;
        align-self: center;
        justify-self: center;
    }

    nav ul {
        height: 70vh;
    }

    nav ul li {
        font-size: larger;
        padding: 50px 0;
    }

    .btn-prime1,
    .btn-prime2 {
        padding: 5px 35px;
        margin: 0 5px;
    }
}

@media (max-width: 361px) {
    #main {
        margin-top: 100px;
    }
}

.navbar-nav {
    font-family: var(--jost-font);
}

.text-start {
    font-family: var(--jost-font);

}

span .text-warning {
    font-family: var(--jost-font);
}

.text-start .lead {
    font-family: var(--jost-font);
}

.btn {
    font-family: var(--jost-font);

}

/* Header Ends */


.head:hover {
    color: white;
}

.text-bannner {
    position: absolute;
    top: 0;
    left: 0;
}

.b-1 {
    color: white;
}
/* Showcase */

#showcase {
    background: var(--showcase-color);
}

.showcase-text {
    font-family: var(--poppins-font);
    font-weight: bold;
}

.text-prime {
    color: var(--text-color);
}
/* end */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.grid>div {
    display: flex;
    justify-content: space-between;
    background: var(--showcase-color);
    line-height: 2em;
    padding: 1em;
    border-radius: .25rem;
    transition-property: all;
    transition-duration: 1s;
}

.grid>div:hover {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}

.grid>div:hover .arrow-right {
    transform: translateX(.25rem);
    color: var(--warning-color);
}

.grid>div:hover .discover {
    color: var(--warning-color);
}

/* grid media screen  */
@media screen and (max-width:992px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }
}

@media screen and (max-width:729px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }
}

/* Discover Section */
.discover {
    text-decoration: none;
    color: var(--text-color);
}

.btn-prime1 {
    background-color: var(--text-color);
    color: var(--light-color);
}

.btn-prime1:hover {
    color: var(--light-color);
}

.btn-prime2 {
    background-color: #fff;
    color: var(--text-color);
}

.btn-prime2:hover {
    background-color: var(--text-color);
    color: var(--light-color);
}

@media screen and (max-width: 768px) {
    .btn-prime1 {
        padding: .5em auto;
    }
}

.discover-title_text {
    color: var(--dark-color);
    font-family: var(--rubik-font);
}

.btn-about {
    width: 25vh;
    padding: 7px 20px;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    font-family: var(--jost-font);
}

.btn-about:hover {
    background-color: var(--text-color);
    color: var(--light-color);
}

@media screen and (max-width:729px) {
    .about-buttons {
        display: block !important;
    }

    .btn-about {
        width: 45vh;
    }
}

@media screen and (max-width:992px) {
    .about-buttons {
        max-width: 70vh;
        margin: 0 auto;
    }

    .about-info {
        display: block !important;
    }

    .about-text {
        margin: .5em auto !important;
    }

    .lead-text {
        align-self: center;
    }
}

@media screen and (max-width:576px) {
    .btn-about {
        max-width: 35vh;
    }

    .about-text {
        text-align: left;
        padding-left: 10px;
    }

    .sys-span {
        position: relative;
        left: 30px;
    }
}
@media screen and (min-width: 767px) {
    .about-text {
        position: relative;
        left: 100px;
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .about-text {
        display: block;
    }
}

@media screen and (max-width:992px) {}

.lead-text {
    font-family: var(--poppins-font);
}

.check {
    font-family: var(--poppins-font);
}

.start {
    color: var(--text-color);
    font-family: var(--poppins-font);
    position: relative;
    left: 30px;
}

i {
    color: var(--text-color);
}

.arrow-right {
    font-size: 1rem;
    margin-left: .5rem;
    transition: .3s;
}

.check-circle {
    margin-right: 5px;
}

@media screen and (max-width: 576px) {

    .check,
    .start {
        font-size: 16px;
    }

}


.team-info_description {
    font-family: var(--poppins-font);
    color: var(--grey-color);
    font-size: medium;
}

.team-flat_img {
    position: relative;
    bottom: 40px
}

@media screen and (max-width: 576px) {
    .team-image {
        display: block !important;
    }

    .name-title,
    .name-subtitle {
        text-align: center;
    }
}
.hidden-img {
    display: none;
}
@media screen and (max-width: 992px) {
    .team-flat_img {
        display: none;
    }
}
@media screen and (min-width: 568px) {
    .hidden-img {
        display: block;
    }
}
@media screen and (min-width: 992px ) {
    .hidden-image {
        display: none;
    }
}

/* Discover end */
/* Simple image style */
.simple-image_container {
    min-height: 50vh;
    background-image: url(../images/simple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

/* end */

/* Shop */
.shop-info {
    background-color: #fff;
}

.laptop-showcase {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
}
@media (max-width:500px){
    .laptop-showcase{
        clip-path: none;
    }
    
    /* .shop-info {
        display: block !important;
    } */

}

/* End */

/* Testimonial section */
.heading-title h2 {
    font-weight: 300;
}

.darkcolor {
    color: #212331;
}

h2 {
    font-size: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.heading-title>span {
    font-size: 1.25rem;
    display: block;
    text-transform: capitalize;
    color: #00bcd4;
}

/* Footer */
.site-footer {
    background-color: var(--primary-color);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #d5d5d5;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #d5d5d5;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #d5d5d5;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: var(--primary-color);
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/* Footer ends */